html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

h1 {
    font-size: 6em;
}

body, head, footer {
    font-family: 'Darker Grotesque', sans-serif;
}

h2 {
    color: #DEB959;
    font-size: 3em;
    margin: auto;
}

h3 {
    font-size: 2.5em;
    margin: auto;
}

footer {
    padding-top: 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

sub {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}

.caption {
    font-size: 1.2em;
}

.headerNav {
    background-color: #85CDF5;
    padding: 0.3;
    color: rgb(51, 51, 51);
    font-size: xx-large;
    font-weight: 800;
}

.bannerLobo {
    background: url(./assets/lobo-big.png) no-repeat center;
    background-size: 100em;
    height: 36em;
    color: #FFFFFF;
    padding: 1%;
}

.loboSubtitulo {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.8em;
    margin-left: 12em;
    margin-right: 12em;
}

.centralizar {
    text-align: center;
}

.caixa {
    padding: 1%;
    color: rgba(255, 255, 255)
}

.azul {
    background-color: rgba(44, 86, 127);
}

.cinza {
    background-color: rgba(51, 51, 51);
}

.caixaVazia {
    background-color: rgba(255, 255, 255);
    margin-top: 3em;
    padding-bottom: 7em;
}

.margemSobre {
    margin-left: 8em;
    margin-right: 8em;
    font-size: 1.5em;
    font-weight: 300; 
}

.displayFlex {
    display: flex;
}

.listaVertical {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.iconeValores {
    background-color: rgba(255, 255, 255);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 0.6em;
}

.pLista {
    padding: 0;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 0.8em;
}

.loboSombra {
    box-shadow: -2em -2em rgb(44, 86, 128);
}

.loboSombraReverso {
    box-shadow: 2em -2em rgb(44, 86, 128);
}

.loboFoto {
    margin-top: 4em;
    margin-left: 7em;
    margin-right: 7em;
    display: flex;
}

.reverso {
    margin-top: 1em;
    flex-direction: row-reverse;
    text-align: right;
}

.contato {
    display: flex;
}

.margemContato {
    margin-top: 2em;
    margin-right: 8em;
    margin-left: 2em;
    margin-bottom: 3em;
    font-weight: 300;
    font-size: larger;
}

iframe {
    margin-top: 2em;
    margin-left: 10em;
}

.margemLinhaContato {
    margin-bottom: 1em;
}

.botaoContato {
    color: rgb(53, 53, 53);
    background: rgb(222, 185, 89);
    font-weight: 500;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
    border-color: transparent;
    border-style: solid;
}

.margemPata {
    margin-top: 2em;
    margin-right: 10em;
}